* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Condensed', sans-serif;

}
#main {
  height: 100vh;
  max-width: 420px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  overflow: hidden;
}
#main2 {
  height: 100%;
  max-width: 420px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: space-between;
  justify-content: space-between;
  overflow: hidden;
}
#navgrid {
  display: grid;
  grid-template-rows: 35px;
  grid-gap: 10px;
  justify-content: space-around;
  font-size: 14px;
  color: #FA7268;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#navgrid2 {
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: 35px;
  grid-gap: 10px;
  justify-content: space-around;
  font-size: 14px;
  color: #FA7268;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #707070;
}
#footergrid {
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: 35px;
  grid-gap: 10px;
  justify-content: end;
  color: #FA7268;
  font-size: 14px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}
.navbtn {
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 70px;
  text-decoration: none;
  color: #FA7268;
}
.navbtna {
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 70px;
  background-color: #707070;
  text-decoration: none;
  color: #FFFFFF;
}
.navbtnb {
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 70px;
  text-decoration: none;
  color: #FA7268;
}
/*.navbtnc {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  text-decoration: none;
  color: #707070;
}*/
.navbtnb:hover, .navbtnc:hover {
  background: #FA7268;
  color: #FFFFFF;
}
.navbtn:hover, .navbtna:hover,  .navbtn:active .navbtna:active  {
  background: #FA7268;
  color: #FFFFFF;
}
#home {
  grid-column-start: 1;
}
#goalsbtn {
  grid-column-start: 2;
}
#code {
  grid-column-start: 3;
}
#journal {
  grid-column-start: 4;
}
#welcome {
  transform: rotate(330deg);
  display: flex;
  flex-flow: column wrap;
  align-self: center;
  color: #FFFFFF;
}
.desc {
  background: #FA7268;
  width: 2000px;
  text-align: center;
  font-size: 1em;
  font-weight: 900;
  height: 25px;
  font-family: "Roboto";
}
#name {
  width: 100%;
  height: 75px;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  font-family: "Roboto";
  font-style: italic;
  background: #707070;
  padding-top: 15px;
}
#goals {
  display: flex;
  align-self: center;

}
#goals p{
  background: #707070;
  text-align: center;
  color: #FFFFFF;
  font-size: 32px;
  font-style: italic;
  height: 75px;
  width: 100%;
  padding-top: 21px;
  font-family: "Roboto";
}
#con1 {
  width: 270px;
  margin: auto;
  background: #FFFFFF;
}
#learn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FA7268;
}
#learn p {
  font-family: "Roboto";
  width: 130px;
  font-size: 25px;
  background: #FA7268;
  text-align: center;
  color: #FFFFFF;
  margin-right: 10px;
}
#learn li {
  width: 130px;
  font-size: 14px;
  background: #FFFFFF;
  list-style-type: none;
  padding-left: 10px;
  color: #FA7268;
}
#everyday {
  margin-top: 10px;
  margin-bottom: 10px;
}
#everyday p {
  font-family: "Roboto";
  font-size: 40px;
  font-style: italic;
  background-color: #FA7268;
  text-align: center;
  color: #FFFFFF;
  padding: 10px;
}
#create {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FA7268;
}
#create p {
  font-family: "Roboto";
  width: 130px;
  font-size: 25px;
  background-color: #FA7268;
  text-align: center;
  color: #FFFFFF;
}
#create li {
  width: 130px;
  font-size: 14px;
  background: #FFFFFF;
  list-style-type: none;
  padding-right: 10px;
  color: #FA7268;
  text-align: right;
}
#titleheader {
  text-align: center;
  font-size: 14px;
  font-family: "Roboto";
  color: #FA7268;
  padding-bottom: 10px;
}
#box2 {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 420px;
}
#jtemplate {
  margin-top: 21px;
  padding-right: 10px;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}
#jtemplate, h2, p {
  padding-left: 10px;
}
#jtemplate, p {
  font-size: 14px;
  font-family: "Roboto Condensed";
}
#jtemplate, h2 {
  margin-top: 21px;
  font-size: 18px;
  font-family: "Roboto";
  color: #707070;
}
#day {
  background: #FA7268;
  color: #FFFFFF;
  padding-left: 10px;
  font-size: 25px;
}
.work {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 270px;
  display: flex;
  flex-flow: column wrap;
}
#work, a {

}
#work {
  width: 420px;
  font-size: 18px;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}
#colorg {
  color: #40C4FF;
  background: #FA7268;
}
#about {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}
#about h1 {
  background: #FA7268;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 13px;
  color: #FFFFFF;
  font-family: "Roboto";
}
#about p {
  border-bottom: 3px solid #FA7268;
  padding-bottom: 13px;
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-weight: 100;
}
#socials {
  margin-left: auto;
  margin-right: auto;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 75vh;

}
.social {
  border: 2px solid #FA7268;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  color: #FA7268;
  font-size: 40px;
}
.social :hover {
  color: #707070;
  font-size: px;
}
