* {
  margin: 0px;
  padding: 0px;
  background: lightgrey;
}
#main {
  height: 100vh;
  max-width: 736px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto Condensed', sans-serif;
  background: #FFFFFF;
  display: flex;
  flex-flow: column wrap;
  align-items: space-between;
  justify-content: space-between;
  overflow: hidden;
}
#navgrid {
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: 35px;
  grid-gap: 10px;
  justify-content: space-around;
  font-size: 14px;
  color: #FA7268;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
}
#navgrid2 {
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: 35px;
  grid-gap: 10px;
  justify-content: space-around;
  font-size: 14px;
  color: #FA7268;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #707070;
}
#footergrid {
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: 35px;
  grid-gap: 10px;
  justify-content: end;
  color: #FA7268;
  font-size: 14px;
  width: 100%;
  background: #FFFFFF;
  margin-left: auto;
  margin-right: auto;

}
.navbtn {
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 70px;
  background-color: #FFFFFF;
  text-decoration: none;
  color: #FA7268;
}
.navbtna {
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 70px;
  background-color: #707070;
  text-decoration: none;
  color: #FFFFFF;
}
.navbtn:hover, .navbtna:hover, .navbtn:active {
  background: #FA7268;
  color: #FFFFFF;
}
#home {
  grid-column-start: 1;
}
#goalsbtn {
  grid-column-start: 2;
}
#code {
  grid-column-start: 3;
}
#journal {
  grid-column-start: 4;
}
#welcome {
  transform: rotate(330deg);
  display: flex;
  flex-flow: column wrap;
  align-self: center;
  color: #FFFFFF;
}
.desc {
  background: #FA7268;
  width: 2000px;
  text-align: center;
  font-size: 1em;
  font-weight: 900;
  height: 25px;
  font-family: "Roboto";
}
#name {
  width: 100%;
  height: 75px;
  text-align: center;
  font-size: 65px;
  font-weight: 900;
  font-family: "Roboto";
  font-style: italic;
  background: #707070;
  padding-top: 2px;
  padding-bottom: 2px;
  margin:0px;
}
#goals {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background: #707070;
  border: 3px solid red;
  height: 75px;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  font-size: 32px;
}
#goals p {
  background: #707070;
}
#learn {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border: 3px solid red;
}
#learn li {
  list-style-type: none;
}
#everyday {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border: 3px solid red;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  font-size: 32px;
}
#create {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border: 3px solid red;
}
#create li {
  list-style-type: none;
}
#con1  {
  width: 270px;
  display: flex;
  flex-flow: column wrap;
  align-self: center;
}
