body {
  margin: 0;
  padding: 0;
}

.main {
  border: 1px solid black;
  max-width: 670px;
  min-width: 420px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8em;
}
/* --container 1 styles-- */
.container1 {
  border: 1px solid black;
}
.name {
  border: 1px solid black;
}
.job {
  border: 1px solid black;
}
.more {
  border: 1px solid black;
}
/* --end container 1 styles --*/

/* --container 2 styles-- */
.container2 {
  border: 1px solid black;
}
.about {
  border: 1px solid black;
}
/* --end container 2 styles-- */

/* --container 3 styles-- */
.container3 {
  border: 1px solid black;
}
.lightgrey {
  border: 1px solid black;
}
.red {
  border: 1px solid black;
}
/* --end container 3 styles-- */
.container4 {
  border: 1px solid black;
}
/* --container 4 styles-- */
